In [3]:
import pandas as pd

In [9]:
path = '..\data\data_berita.csv'
df = pd.read_csv(path)
df = df[['dokumen','label']].copy()
df

                                              dokumen         label
0   Presenter Raffi Ahmad baru saja membeli mobil ...  entertaiment
1   Pedangdut Ayu Ting Ting memang selalu menjadi ...  entertaiment
2   Lucinta Luna begitu percaya diri akan kecantik...  entertaiment
3   Lucinta Luna kembali menyita perhatian dengan ...  entertaiment
4    Atlet badminton, Loh Kean Yew saat ini tengah...  entertaiment
5   Artis sekaligus pedangdut Cita Citata kembali ...  entertaiment
6   Cita Citata tengah ramai digosipkan berkencan ...  entertaiment
7   Nikita Mirzani kembali menjadi pemberitaan di ...  entertaiment
8   Ada cerita menarik antara Tiara Andini dan Jef...  entertaiment
9   Jefri Nichol sebelumnya digosipkan menjalin hu...  entertaiment
10  Demi mendukung perkembangkan olah raga pencak ...      olahraga
11  Pernyataan manajer timnas futsal Indonesia dan...      olahraga
12  Penjaga gawang timnas futsal Indonesia, Muhamm...      olahraga
13  Kejutan datang dalam sejarah dunia sepak bola ...      olahraga
14  Tim sepak bola milik Raffi Ahmad, RANS Cilegon...      olahraga
15  RANS Cilegon FC yang baru promosi ke Liga 1, d...      olahraga
16  Pelatih Arsenal, Mikel Arteta, menyebut keperg...      olahraga
17  Pemilik rekor gol terbanyak di Manchester Unit...      olahraga
18  Madura United mengapresiasi langkah PSSI yang ...      olahraga
19  Kabar mengejutkan datang dari klub sultan Mala...      olahraga

In [10]:
# preprocessing all

def case_folding(str_data):
    return str_data.lower()

from nltk.tokenize import word_tokenize
def tokenizing(str_data):
    return (word_tokenize(str_data))

from nltk.corpus import stopwords
stopword_id = stopwords.words('indonesian')
stopword_en = stopwords.words('english')
stopword_all = stopword_id + stopword_en
def stopword_removal(list_str_data):
    list_str_data_t = []
    for s in list_str_data:
        if s not in stopword_all:
            list_str_data_t.append(s)
    return list_str_data_t

def preprocessing(str_data):
    str_data_t = case_folding(str_data)
    str_data_t = tokenizing(str_data_t)
    str_data_t = stopword_removal(str_data_t)
    return str_data_t

In [11]:
df['preprocessing'] = df.dokumen.apply(preprocessing)

In [12]:
df.head()

,dokumen,label,preprocessing
0,Presenter Raffi Ahmad baru saja membeli mobil ...,entertaiment,"[presenter, raffi, ahmad, membeli, mobil, mewa..."
1,Pedangdut Ayu Ting Ting memang selalu menjadi ...,entertaiment,"[pedangdut, ayu, ting, ting, sorotan, publik, ..."
2,Lucinta Luna begitu percaya diri akan kecantik...,entertaiment,"[lucinta, luna, percaya, kecantikannya, ., luc..."
3,Lucinta Luna kembali menyita perhatian dengan ...,entertaiment,"[lucinta, luna, menyita, perhatian, penampilan..."
4,"Atlet badminton, Loh Kean Yew saat ini tengah...",entertaiment,"[atlet, badminton, ,, loh, kean, yew, perbinca..."

In [ ]:
# tf-idf

from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer()
tfidf_desc_train_matrix = vect.fit_transform(dataset_train['description'].to_list())
tfidf_desc_test_matrix = vect.transform(dataset_test['description'].to_list())